*,
body,
html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    color: #ABC292;
    font-size: 10rem;
    background-color: #485655;
}

.head-bin {
    display: flex;
    justify-content: space-around;
    flex-grow: 1rem;
    width: 100%;
}

.head {
    text-align: center;
    font-size: 8vw;
    background-color: #797957;
    box-shadow: 1rem 1rem 4px #616138;
    margin: 2% 1%;
    border-radius: 30px;
    width: fit-content;
    padding: 1.5%;
    display: flex;
    justify-content: space-around;
    animation-name: shake;
    animation-duration: 0.75s;
    animation-iteration-count: infinite;
}

.content-bin {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-grow: 1rem;
    width: 100%;
}

.card {
    background-color: #797957;
    color: #F3E391;
    text-align: center;
    width: 30%;
    height: 37vw;
    border-radius: 30px;
    box-shadow: 1rem 1rem 4px #616138;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 2% auto;
    transition: all 0.3s;
}

.card-title {
    font-size: 3vw;
    margin: 1%;
}

.card-img {
    width: 100%;
    z-index: 0;
}

.card-link {
    color: #CFB879;
    font-size: 2.25vw;
}

.rainbow-tint {
    background-color: rgb(255, 255, 255);
    opacity: 0;
    z-index: 1;
    width: calc;
    height:;
}

@media screen and (max-width: 920px) {
    .head {
        font-size: 12.5vw;
    }

    .card {
        width: 45%;
        height: 60vw;
    }

    .card-title {
        font-size: 4.5vw;
    }

    .card-link {
        font-size: 4vw;
    }
}

@media screen and (max-width: 620px) {
    .head {
        font-size: 15vw;
    }

    .card {
        width: 80%;
        height: 90vw;
        margin: 4% auto;
    }

    .card-title {
        font-size: 6.5vw;
    }

    .card-link {
        font-size: 5vw;
    }
}

.card-link:hover {
    color:#ac9967;
}

.content-bin:hover .card:not(:hover) {
    opacity: 0.7;
    transform: scale(0.9);
}

.card:hover {
    transform: scale(1.15);
}

.rainbow-tint:hover {
    animation-name: rainbow-flow;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% {transform: rotate(2.5deg);}
    50% {transform: rotate(-5deg);}
    100% {transform: rotate(2.5deg);}
}

@keyframes rainbow-flow {
    0% {opacity 0.1; background-color: #FF0000}
    16.6666666667% {opacity: 0.1; background-color: #FF7F00}
    33.3333333333% {opacity: 0.1; background-color: #FFFF00}
    50% {opacity: 0.1; background-color: #00FF00}
    66.6666666667% {opacity: 0.1; background-color: #0000FF}
    83.3333333333% {opacity: 0.1; background-color: #4B0082}
    100% {opacity: 0.1; background-color: #9400D3}
}