*, body, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    color: #ABC292;
    font-size: 10rem;
    background-color: #485655;
}

.head {
    text-align: center;
    font-size: 8vw;
}

.content-bin {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-grow: 1rem;
    width: 100%;
}

.card {
    background-color: #797957;
    color: #F3E391;
    text-align: center;
    width: 30%;
    height: 37vw;
    border-radius: 30px;
    box-shadow: 1rem 1rem 4px #616138;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 2% auto;
}

.card-title {
    font-size: 3vw;
    margin: 1%;
}

.card-img {
    width: 100%;
}

.card-link {
    color: #CFB879;
    font-size: 2.25vw;
}

@media (max-width: 920px) {
.head {
    font-size: 12.5vw;
}
.card  {
    width: 45%;
    height: 60vw;
  }
  .card-title {
    font-size: 4.5vw;
}

.card-link {
    font-size: 4vw;
}
}

@media (max-width: 620px) {
    .head {
        font-size: 15vw;
    }
    .card  {
        width: 90%;
        height: 90vw;
        margin: 4% auto;
      }
      .card-title {
        font-size: 6.5vw;
    }
    
    .card-link {
        font-size: 5vw;
    }
}